<h1>Contact Me</h1>
<br>
<br>
<img src="/images/lightsonplaza.jpg">
<br>
Santa Fe Plaza At Christmas
<br>
<br>
I'm available by appointment only. I almost never answer my phone, so PLEASE send me an email instead; I'm very responsive to emails but if you leave a voicemail I may never even listen to it since my voicemail box is usually maxed out.
<br>
<br>

		<td>
Jim Kath<br>
Kath Guitars, LLC<br>
Santa Fe, NM 87508<br>
505 920-9990<br>
jim@kathguitars.com<br>
		</td>
	</tr>
</table>
<br>
