<center>
<br>
<h1>Custom Built Guitars</h1>
<br>
<table width="90%">

<tr>
	<td colspan="2"  style="text-align:justify">
My instruments are all built by hand, by me, in my shop.  I make guitars like the old-world craftsman; I do it all myself and each step is painstakingly performed with precision and detail.
<br><br>
I have been a guitar player for 42 years and I taught guitar for 20 years (although I no longer have time).  I built my first guitar in my father's woodworking shop at age 13 (it was a solidbody electric that I've unfortunately misplaced after moving over ten times over the years).  After high school I apprenticed for a master luthier in New Jersey for about five years.
	</td>
</tr>
<tr>
		<td style="text-align:justify" valign="top">
Woodworking has been a life-long passion for me.  My father is a superb furniture maker where he still works in his shop in North Carolina.  He taught me how to use hand tools when I was about 5 years old and moved me up to power tools when I was 11 (my mother was not happy about it either).  It was a natural progression for me to blend my love for woodworking with my love for guitar.
<br><br>
If you're interested in a custom, hand-made guitar, please feel very comfortable emailing me.  Even if you are simply in the "considering it" stage, I'd love to talk with you about it so you know what it involves and how much it will cost.  
<br><br>
I have a waiting list that can vary anywhere from one to three months start-time, so if you're interested in getting in line, I require a $500 non-refundable deposit at time of ordering, 25% once work begins and the balance due on completion. All my guitars come with a standard hard-shell case with a value of about $125.  If you wish a more expensive case, you'd only pay the difference in price.  Also, depending on where you live, you'll need to consider shipping costs which can be from $75 and up, depending on the service you want to use. Once begun, construction takes about 2 to 3 months.  
<br><br>
At the time you make the deposit we'll discuss the wood you want to use for your guitar and other details that I'll need in order to get started.  Once the work begins I'll keep you updated by phone or email.  If you live in New Mexico, or wish to make a trip here, you can stop by to see the progress (you'll need to schedule an appointment though).  It's a really fun and exciting process!  Even if you don't live in New Mexico, we can do everything over the internet and telephone.
<br><br>
Thanks very much for your interest.  I look forward to building you your very own custom guitar!
<br><br>
Jim
	</td>
	<td align="top" valign="center">
<img src="/ver2images/james2.jpg" width="200" align="right"/>
In 2009<br><br>
<img src="/ver2images/jiminshop1980.jpg" width="200" align="right"/>
In 1980, as an apprentice<br><br>
<img src="/ver2images/jimfrethammer1980.jpg" width="200" align="right"/>
1980

	</td>
</tr>
<tr>
	<td colspan="2"  style="text-align:justify">

	</td>
</tr>
</table>
</center>