<h1>Editing bluesbayou</h1>

<% form_for(@bluesbayou) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bluesbayou %> |
<%= link_to 'Back', bluesbayous_path %>