<h1>Listing bluesbayous</h1>

<table>
  <tr>
  </tr>

<% @bluesbayous.each do |bluesbayou| %>
  <tr>
    <td><%= link_to 'Show', bluesbayou %></td>
    <td><%= link_to 'Edit', edit_bluesbayou_path(bluesbayou) %></td>
    <td><%= link_to 'Destroy', bluesbayou, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bluesbayou', new_bluesbayou_path %>