<h1>The Blues Bayou</h1>

<br>
<center>
	<img src="/images/blues_bayou.jpg" width="250">
<br><br>


<table>
	<tr>
		<td width="250" align="center">
			Check out the <br>LearnBluesLicks.com<br> video on Youtube to see more information about this guitar. <br\><br>
			<iframe width="500" height="400" src="http://www.youtube.com/embed/FZhodXRqLjM" frameborder="0" allowfullscreen></iframe>
		</td>
	</tr>
</table>

</center>
