body {
	background-image: url(/ver2images/planks.jpg); background-repeat: repeat; 
	/* background-color: #000000; */
	color: white;
}

#blocktext{
	text-align: justify;
	margin: 0, 10px, 20px, 10px;
}

#centering-home-div {
	position: relative;
	background-image: url('../ver2images/homepageFinal.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height:1000px; 
	background
}
#centering-nonhome-div {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	/* border: brown solid 2px; */
	/* min-height: 800px; */
	height:80px; 
}
#centering-gallery-div {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	border: brown solid 2px;
	/* min-height: 800px; */
	height:1300px; 
}
.menuitem-about {  
    position: relative;
    top: 325px;  
    left: 307px;  
}
.menuitem-contact {  
    position: relative;
    top: 345px;  
    left: 330px;  
}
.menuitem-archtops {  
    position: relative;  
    top: 150px;  
    left: 168px;  
}
.menuitem-flattops {  
    position: relative;  
    top: 175px;  
    left: 190px;  
}
.menuitem-semihollow {  
    position: relative;  
    top: 200px;  
    left: 210px;  
}
.menuitem-headstock {  
    position: absolute;  
    top: 513px;  
    left: 900px;  
}
#homepagecontent {
	/* background: url(/images/page_bg.jpg) repeat; */
	width: 790px;
	height:1200px;
	padding-left: 5px;
	padding-right: 5px;	
	background-color: #4F1706;
}

#pagecontent {
	/* background: url(/images/page_bg.jpg) repeat; */
	width: 790px;
	height: 2300px;
	padding-left: 5px;
	padding-right: 5px;	
	background-color: #F5F5F5;
}
#shortpagecontent {
	/* background: url(/images/page_bg.jpg) repeat; */
	width: 790px;
	height: 900px;
	padding-left: 5px;
	padding-right: 5px;	
	color: #556B2F;
	background-color: #F5F5F5;
}
#gallerypagecontent{
	/* background: url(/images/page_bg.jpg) repeat; */
	width: 1040px;
	height: 1300px;
	padding-left: 5px;
	padding-right: 5px;	
	background-color: #4F1706;
}

#devonshiredescription{
	text-align: justify;
}

a {
  color: #556B2F;
  text-decoration: underline;
}
a:hover {
  color: yellow;
}

#footer {
   border-top: #FF6347 solid 2px;
	margin-top: auto;
	margin-left: auto;
  	margin-right: auto;
	background-color: #4F1706;
	border: brown solid 2px;
	width: 796px;
	height: 40px;
}
