<br>
<h1>ACOUSTIC Guitar Repairs</h1>
<br>

<b>SET UP</b> $75.00 plus Strings Includes Neck adjust, action adjustment at nut and saddle, minor fret work, tighten tuner screws and nuts, lubricate tuning machines, general clean up, restring.(12 string - add $25.00)
<br><br>

<b>NEW NUT</b> - $75.00 may or may not include raw material. If your guitar has worn frets, a bowed neck, or an ill fitting saddle, expect additional cost to correct these problems. Many repairman will not install a new nut if other problems are not also addressed.(12 string - add $25.00)
<br><br>

<b>NEW SADDLE</b> - $50.00 may or may not include raw material. Same qualifications as with "new nut".
<br><br>

<b>RE-GLUE BRIDGE</b> - $100.00 Remove and refit old bridge. Very minor touchup included.(12 string bridge- add $25.00) .
<br><br>

<b>REPLACE BRIDGE</b> - $100.00 + cost of factory made bridge ,approx. $30.00 + cost of new saddle (sometimes). (12 string bridge - add $25.00)
<br><br>

<b>HANDMADE BRIDGE</b> - $250.00 and up, by quote. Handmade bridges may be neccasary for vintage Gibson, Martin, Guild, and custom bridge replacements.
<br><br>

<b>REPLACE TUNERS</b> - $50 and up. Seems like a simple job, but can he fraut with nuanced complications.
<br><br>

<b>FRET LEVELING</b> ("Filing", "Dressing"...) $100.00 and up. Worn or uneven frets can he filed level in many cases, if there will remain enough height on the fret to suit the customer. Frets must be lowered to the height of the lowest pit that can be found. Sometimes, replacing the most worn frets is appropriate. Includes "set up" adjustments.
<br><br>

<b>RE-FRET</b> - $250.00 Add $50 for fretboards with binding. Individual frets $10.00 plus leveling and or set up costs in some cases. New nut or saddle may be necesary. Shop minimum may also apply.(Add $25.00 for 12 String)
<br><br>

<b>NECK RE-SET</b> - $300.00 and up. Remove neck. Re-cut heel/body angle to correct high action. Replace neck. New saddle often included, but new nut often extra. Additional fret work and bridge work may also be necessary.(Add $25.00 for 12 string)
<br><br>

<b>CRACK REPAIR</b> - $20 per inch or by quote (particularly for shattered areas). Includes glue and touchup with appropriate finish. Cleating (installing small patches of wood inside guitar to reinforce repair) as neccasary. Repairs often not invisible, but finish should be level.
<br><br>

<b>HEADSTOCK CRACK</b> - $150.00 and up, by quote. Glue, touchup. Repairs often not invisible, but finish should be smooth.
<br><br>

<b>INSTALL "UNDER SADDLE" PICK UP</b> - $75.00 - 150.00. Expand endpin hole to accommodate jack. Wire pickup to pre-amp and jack. Fit and re-size old saddle for proper action and contact with pickup. May require new saddle and re-rout of saddle slot(additional). There are other variables relating to pre-amps which must be individually quoted. Condition of bridge and neck angle may be factors in the appropriateness of an under the saddle pickup.
<br><br>

<b>DIAGNOSE ELECTRICAL PROBLEM</b> - $50.00 (This fee is waived if you have me do the work).
<br><br>