<center>
<br>

<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">The Capri</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			I designed this guitar with absolute simplicity as the goal.  I've always greatly admired the simple beauty of violins and cellos and it has long been a dream of mine to emulate that simplicity in an archtop guitar.  I wanted to put nothing on this instrument to detract from that simplicity.  Not only is this an incredible sounding guitar for jazz playing, but because the body is deeper than a traditional archtop, the projection and balance are perfect for any kind of fingerstyle playing as well.
		</td>
	</tr>
	<tr>		
		<td valign="bottom"><img src="/ver2images/capri.jpg" width="180"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/capri1sn.png" width="90"/>
						<img src="/ver2images/caprihead.jpg" border='2' width="90"/>
						<img src="/ver2images/capriback.jpg" border='2' width="140"/>
						<img src="/ver2images/capriangle.jpg" border='2' width="140"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">

						<u><b>Features</b></u><br>
						16 1/4" Lower Bout<br>
						3 1/2" Body Depth At Neck And Heel<br>
						All Black Hardware<br>
						Curly Maple Neck<br>
						Curly Maple Back And Sides<br>
						Hand-carved Curly Maple Back<br>
						Hand-carved Sitka Spruce Top<br>
						Black Binding<br>
						Ebony Fingerboard<br>
						Ebony Bridge, Pickguard and Pickup Mounting<br>
						Kent Armstrong Floating Pickup<br>
						Custom Nitro Lacquer Finish.<br>
						Double-Action Neck Rod<br>
						Gotoh Black Delta 510 Gold Tuners With Ebony Buttons<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">The Fleur Di Lis</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			Made with traditional archtop guitar dimensions for the jazz purist, The Fleur-Di-Lis has the elegant touches of ebony binding, top and edge purfling (also along the fingerboard), fleur-di-lis mother of pearl headstock inlay and mother of pearl neck-rod cover. With a Kent Armstrong pickup and Gotoh 510 18:1 ratio tuning machines, this guitar is all you could possible want in an archtop. The guitar pictured is finished with a Nitro-lacquer sunburst, but is available in any other shade of finish you may want.
		</td>
	</tr>
	<tr>		
		<td><img src="/ver2images/fleurfront.gif" width="200"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/fleurangle.jpg" width="100"/>
						<img src="/ver2images/fleurheadstock.jpg" border='2' width="120"/>
						<img src="/ver2images/fleurbacknontrans.jpg" width="150"/>
						<img src="/ver2images/fleurneck.jpg" border='2' width="70"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">
						<u><b>Features</b></u><br>
						17" Lower Bout<br>
						3" Body Depth At Neck And Heel><br>
						All Gold-tone Hardware (except pickup which is black)<br>
						Curly Maple Neck<br>
						Curly Maple Back And Sides<br>
						Hand-carved Curly Maple Back<br>
						Hand-carved Sitka Spruce Top<br>
						Ebony Binding with 4-ply white/black purfling on guitar edges<br>
						Ebony Fingerboard<br>
						Ebony Bridge, Pickguard and Tailpiece<br>
						Mother Of Pearl Fleur Di Lis Headstock Inlay<br>
						Kent Armstrong Floating Pickup<br>
						Custom Nitro Lacquer Finish.<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Gold Tuners With Ebony Buttons<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">The Deco</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			A  traditional archtop with a retro-deco flavor. The Deco is made with highly figured curly maple back, sides and neck and a Sitka Spruce top.  If you're after that archtop that feels at home in jazz, blues or country, this is your model.  The guitar pictured also has angel-wing shaped portholes in the back for when you're in an unplugged venue and want to hear yourself better - some players like them... some don't, it's your choice because they are optional. The guitar pictured is finished with clear Nitro-lacquer, but is available in any other shade of finish you may want.
		</td>
	</tr>
	<tr>		
		<td><img src="/ver2images/decofront.jpg" width="190"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/decoangle.jpg" width="100"/>
						<img src="/ver2images/decoback.jpg" width="130"/>
						<img src="/ver2images/decoheadstock.jpg" border='2' width="110"/>
						<img src="/ver2images/decoangle2.jpg" width="100"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">
						<u><b>Features</b></u><br>
						17" Lower Bout<br>
						3" Body Depth At Neck And Heel><br>
						Chrome hardware<br>
						Curly Maple Neck<br>
						Curly Maple Back And Sides<br>
						Hand-carved Curly Maple Back<br>
						Hand-carved Sitka Spruce Top<br>
						White Binding with 4-ply white/black purfling<br>
						Ebony Fingerboard<br>
						Ebony Bridge<br>
						Custom Curly Maple Pickguard with Binding and white/black purfling<br>
						Custom Headstock Inlay<br>
						Mother Of Pearl Neck-rod Cover<br>
						Kent Armstrong Floating Pickup<br>
						Nitro Lacquer Finish.<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Tuners With Black Buttons<br>
						Optional Angel-Wing Portholes in back<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</center>