<br>
<h1>Customizations</h1>
This is fun stuff.  Just like those "Pimp My ..." shows for cars, motorcycles and and trucks, you can do a lot of cool things with guitars.
<br><br>
Here are a few ideas:
<ul>
	<li>Custom Made Pick Guard From Ebony or other wood</li>
	<li>Custom Hot-Rod Wiring</li>
	<li>Coil-tap or out of phase humbucker wiring</li>
	<li>Change out that 5-position strat switch with mini switches</li>
	<li>Custom Pearl Inlay</li>
	<li>Refinishing A Messed Up Finish With A New, Shiny One</li>
	<li>Or, get a new buffing to that old, dull finish (not always possible, depending on the state of your guitar's  lacquer)</li>
	<li>New Tuning Machines</li>
	<li>Rebind That Old Fingerboard</li>
	<li>Change all your hardware to gold-plated or black</li>
	<li>Make A Low-quality guitar play like a new Les Paul (Yes, it's possible!)</li>
	<li>Replace Low-Quality Acoustic Guitar Electronics with some great new Fishman products</li>
	<li>Add Electronics To An Acoustic That has No Electronics</li>
	<li>Make a port-hole in rim of an acoustic guitar (some people like these, some don't)</li>
	<li>Add A Second or Third Pickup (Custom Pickup Routing Of Guitar Top)</li>
	<li>Change Nasty Plastic Acoustic Bridge Pins For New Brass Or Bone Ones</li>
	<li>Completely Restore A Vintage Instrument (Without Losing Any Vintage Attributes Or Value)</li>
</ul>