<br>
<center>
	<h1>Uptown Model</h1>
</center>
Glued On Neck<br>
Body: African Mahogany<br>
Carved Top: American Highly Figured Myrtle (It's a LOT like maple, but with a slightly warmer hue)<br>
Neck: American Rock Maple<br>
Fingerboard: African Ebony Bound With 4-ply binding<br>
Body Binding: 4-ply ABS Front And Back<br>
Headstock Inlay: Hand-Cut Mother Of Pearl<br>
Position Markers: Mother Of Pearl Dots<br>
Truss Rod: StewMac Hot Rod Dual Action Rod<br>
Truss Rod Cover: Hand-Cut Mother Of Pearl<br>
Pickup Covers And Rings: African Ebony<br>
Pickguard: Hand-Made From Same Myrtle As Top, Bound<br>
Bridge: Schaller Roller Bridge<br>
Strap Buttons: Schaller Locking Buttons<br>
Tuning Machines: Grover<br>
All Gold-Plated Hardware<br>
Gold Colored Speed Knobs<br>
<br>
<table cellpadding="20">
	<tr>
		<td><img src="/images/devonshireguitar/P2120320-resized.jpg" width="200"/></td>
		<td><img src="/images/devonshireguitar/P2120323-resized.jpg" width="200"/></td>
		<td><img src="/images/devonshireguitar/P2120325-resized.jpg" width="200"/></td>
	</tr>
	<tr>
		<td><img src="/images/devonshireguitar/P2130326-resized.jpg" width="200"/></td>
		<td><img src="/images/devonshireguitar/P2130329-resized.jpg" width="200"/></td>
		<td><img src="/images/devonshireguitar/P2130333-resized.jpg" width="200"/></td>
	</tr>
</table>
</center>
