<br>
<h1>The Dresden 13-String Lute Guitar</h1>
<center>
<br>

<table>
	<tr>		
		<td><img src="/images/dresden/bodyfront.JPG" width="225" alt=""></td>
		<td><img src="/images/dresden/back.JPG" width="225" alt=""></td>
		<td><img src="/images/dresden/headstock.jpg" height="300" alt=""></td>
	</tr>

</table>
<table>
	<tr>		
		<td align="center"><img src="/images/dresden/side.JPG" width="400" alt=""></td>
		<td align="center"><img src="/images/dresden/underconstruction.jpg" width="330" alt=""></td>
	</tr>

</table>
</center>
<p>
<pre style="font:13px arial,sans-serif;">
There's a lot to explain about this lute-guitar, errrrr, guitar-lute, errrr, whatever!

It's called a Dresden (It's really a style, not a model name; I didn't invent the style) because of Bach and Weiss
who were good friends when they both lived in Dresden, Germany and spent much of their time writing lute music.
  
Bach and Weiss both wrote a ton of music for the baroque lute and the music, exactly as they wrote it, is 
available online for free.  They didn't use regular music notation but a type of tablature called French Tablature 
that is super easy to learn to read.  There are quite a few music CDs for baroque lute by artists such as 
John Schneiderman, Andrew Maguinley and Robert Barto.

One of my favorite pieces is Bach's Prelude #3 (BWV 1006a).  <a href="javascript:doWindowPopup('http://www.youtube.com/watch?v=S53yAtz0GiA');">Click Here</a> to see/hear it on youtube.

Lutes are expensive and many guitar players don't like playing them because of their unique sound and shape 
(I've grown to absolutely love them), so some luthiers, including me, have turned to making guitars that are 
tuned the same way as the baroque lute.  I learned how to play lute by using this guitar, then building a lute!
So now I also build Baroque Lutes.

The guitar you see on this page is a hybrid.  Aside from the obvious extra strings, I built it mostly like a 
flattop acoustic, but with Classical guitar bracing because it was to have nylgut strings. You'll notice that the neck
is NOT centered on the guitar like a typical guitar neck but is slightly askew in order to get the bridge centered and 
for as many strings as possible to be over the soundhole.  It sounds absolutely beautiful (video to come soon).

It's also available as a classical guitar.

The guitar shown here is made with lacewood for the back and sides, Sitka Spruce top and Mahogany neck. And yes,
it does have a neck rod, but the classical version does not and frankly it's not needed.

This guitar (and therefore the baroque lute), are tuned as follows starting from the bottom (lowest in pitch) 
string to the top:

A, Bb, C, D, E, F, G, A, D, F, A, D, F

As you can see the bottom five strings cannot (and don't need to) be fretted.  They run diatonically in F major 
(also called D minor since it's the relative minor of F) scale.  Also, you don't absolutely have to even learn 
the names of the strings for any other reason than tuning them because when playing from the lute music, it's all 
tablature and you just play the string and fret indicated.  So, in many ways it's easy to learn but in other ways 
it's challenging, like trying to successfully find the strings without looking.  It took me some time but
eventually I got it and I've never enjoyed playing a stringed instrument as much as I enjoy this one!

Email me if you have questions or want to discuss all the customized options you can get on this guitar because I 
only make them as a custom order, so each one is completely unique.

</pre>	
</p>
<br>
