<br>
<h1>ELECTRIC Guitar Repairs</h1>
<br>
<br>

<b>SET UP</b> $75.00 plus Strings. Includes Neck adjust, action adjustment at nut and saddle, minor fret work, tighten tuner screws and nuts, lubricate tuning machines, general clean up, restring. Floating tremelo, Floyd Rose style may cause higher rates
<br><br>

<b>NEW NUT</b> - $75.00 may or may not include raw material. If your guitar has worn frets, a bowed neck, or an ill fitting saddle, expect additional cost to correct these problems. Many repairman will not install a new nut if other problems are not also addressed.
<br><br>

<b>REPLACE TUNERS</b> - $50 and up. Seems like a simple job, but can be complicated based on your unique instrument (Remember, doesn't include price of tuning machines).
<br><br>

<b>FRET LEVELING ("Filing", "Dressing"...)</b> $100.00 and up. Worn or uneven frets can he filed level in many cases, if there will remain enough height on the fret to suit the customer (and practical playability). Frets must be lowered to the height of the lowest pit that can be found. Sometimes, replacing the most worn frets is appropriate. Includes "set up" adjustments.
<br><br>

<b>RE-FRET</b> - $250.00 Add $50 for fretboards with binding. Individual frets $10.00 plus leveling and or set up costs in some cases. New nut or saddle may be necesary. Shop minimum may also apply.
<br><br>

<b>HEADSTOCK CRACK</b> - $150.00 and up, by quote. Glue, touchup. Repairs often not completely invisible, but finish should be smooth.  If the crack is REALLY bad and the head not salvageable, a new head can be made to replace the old one.  Custom pricing will apply to your situation.
<br><br>

<b>FINISH TOUCH UP</b> -By quote.
<br><br>

<b>DIAGNOSE ELECTRICAL PROBLEM</b> -$30.00 Some shops will charge a minimum to diagnose electrical problems if work is not performed. Time is money.
<br><br>

<b>REPLACE JACK</b> - $25.00-$30.00 part may be extra
<br><br>

<b>REPLACE PICKUP</b> - $50.00 per pickup 
<br><br>

<b>REPLACE VOLUME/TONE POT</b> - $25.00-$30.00
<br><br>

<b>ROUT NEW POCKET</b> - $50.00 PLUS install pickup price
<br><br>

<b>REPLACE SWITCH</b> - $25.00- $50.00 plus part.
<br><br>

<b>DIAGNOSE ELECTRICAL PROBLEM</b> - $50.00 (Waived if you have me do the repair work). 
<br><br>

<b>CUSTOM WIRING</b> - Depends on your wiring design.  There are some REALLY cool options out there right now like adding a USB Jack to your guitar or installing the Black Ice Overdrive chip that replaces the capacitor on your tone control (See it at Stewart McDonald http://www.stewmac.com/shop/Electronics,_pickups/Components:_Black_Ice_overdrive.html). Email or call me about custom wiring. 
<br><br>
