<center>
<br>

<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">Santa Fe Sunset</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			Made for the fusion/rock/everything artist Bryan Baker who is a solo artist and the leader of the band Black Baptista.  A full

			This guitar has a very robust bottom end that sounds much like a baritone guitar with a very sparkly high end.  My custom cutaway design permits almost complete access to the upper frets.  With Sapele back, sides and neck, Curly Maple binding and bound ebony fingerboard, this guitar is looks and sound beautiful.  The model shown had a custom turquoise inlay on the headstock, the standard model comes with mother of pearl. 
		</td>
	</tr>
	<tr>		
		<td valign="bottom"><img src="/ver2images/sunsetmain.gif" width="170"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/sunsetcutaway.jpg" border='2' width="100"/>
						<img src="/ver2images/sunsetupperbout.jpg" border='2' width="160"/>
						<img src="/ver2images/sunset2.jpg" width="120"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">
						<u><b>Features</b></u><br>
						16" Lower Bout<br>
						3 3/4" Body Depth At Neck And Heel<br>
						Sapele Neck<br>
						Sapele Back And Sides<br>
						Curly Maple Binding<br>
						Sitka Spruce Top<br>
						Ebony Fingerboard<br>
						LR Baggs Element Active Undersaddle Pickup<br>
						Custom Nitro Lacquer Finish.<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Tuners<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">Eric Gales</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			Made for the AWESOME blues artist Eric Gales!  This guitar is basically the same design as the Santa Fe Sunset but with a selection of different woods.
			<br><br>

			Eric plays a right-handed guitar flipped around for a left-handed guitar player; He just couldn't find the right acoustic instrument with the bracing in the correct place and the cutaway where he needs it, on the bottom, so I made this one for him. Of course it's available in a right-hand model also. The model shown is made with highly figured lacewood and bloodwood binding.  

			This guitar has a very robust bottom end with a very pretty high end.  
		</td>
	</tr>
	<tr>		
		<td valign="bottom"><img src="/ver2images/galesfront.gif" width="170"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/galesupperboat.jpg"  width="160"/>
						<img src="/ver2images/galescutaway.jpg" border='2' width="160"/>
						<img src="/ver2images/galesfullback.jpg" width="120"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">

						<u><b>Features</b></u><br>
						16" Lower Bout<br>
						3 3/4" Body Depth At Neck And Heel<br>
						Mahogany Neck<br>
						Lacewood Back And Sides<br>
						Bloodwood Binding<br>
						Sitka Spruce Top<br>
						Ebony Fingerboard<br>
						LR Baggs Element Active Undersaddle Pickup<br>
						Nitro Lacquer Finish.<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Tuners<br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<br><br>
<center><h1 style="color: #556B2F;">I'll soon begin making Gypsy Selmer-style guitars as well.<br><br>  Check back soon!!<h1></center>