<br>
<h1>The Fleur Di Lis</h1>
<center>
<br>

<table>
	<tr>		
		<td><img src="/images/fleur/018.jpg" width="225" alt=""></td>
		<td><img src="/images/fleurdilis.png" width="320" alt=""></td>
			<td><img src="/images/fleur/048.jpg" width="225" alt=""></td>
	</tr>

</table>
<table>
	<tr>		
			<td align="center"><img src="/images/fleur/041.jpg" width="400" alt=""></td>
	</tr>

</table>
</center>
<p>
Built with traditional methods using old-world craftsmanship.  Hand-carved top and back, 17" lower bout, ebony fingerboard and much more make this archtop an absolutely premier and unique instrument. Gorgeous looks and tone!!  Remember, all features can be upgraded or changed including finish, wood, binding, tuning machines, pickups, wiring... you name it.	
</p>
<br>
<u><b>Features</b></u><br>
All Gold-tone Hardware (except pickup which is black)<br>
Curly Maple Neck<br>
Curly Maple Back And Sides<br>
Hand-carved Back Inside and Out<br>
Hand-carved Sitka Spruce Top<br>
Ebony Binding with 4-ply white/black purfling on guitar edges (ABS on f-holes)<br>
Ebony Fingerboard<br>
Mother Of Pearl Fleur Di Lis Headstock Inlay<br>
Kent Armstrong Floating Pickup<br>
Pickguard and Tailpiece made of ebony<br>
17" Lower Bout<br>
Highly Custom Nitro Lacquer Finish in the style of a violin.<br>
Double-Action Neck Rod<br>
Gotoh Delta 510 Gold Tuners With Ebony Buttons<br>