<br>
<h1>The "Eric Gales" Left-Righty Flattop</h1>
<center>
<br>

<table>
	<tr>		
		<td><img src="/images/gales/PA060109.JPG" width="225" alt=""></td>
		<td><img src="/images/gales/PA060111.JPG" width="225" alt=""></td>
		<td><img src="/images/gales/PA060112.JPG" width="225" alt=""></td>
	</tr>
	<tr>		
		<td><img src="/images/gales/PA060114.JPG" width="225" alt=""></td>
		<td><img src="/images/gales/PA060115.JPG" width="225" alt=""></td>
		<td><img src="/images/gales/PA060116.JPG" width="225" alt=""></td>
	</tr>
</table>
<table>
	<tr>		
	</tr>

</table>
</center>
<p>
Made for the AWESOME blues artist <a href="javascript:doWindowPopup('http://www.youtube.com/watch?v=77dOUr9lhD8');">Eric Gales</a>, or <a href="javascript:doWindowPopup('http://www.youtube.com/watch?v=QOH2nnS8B8Y');">Here</a> who is an amazing player with the chops of Satriani, The Style of Stevie Ray Vaughn and the Soul of Jimi Hendrix. He's also one of the nicest and most humble people you could ever meet!<br><br>

Eric plays a right-handed guitar flipped around for a left-handed guitar player; He just couldn't find the right acoustic instrument with the bracing in the correct place and the cutaway where he needs it, on the bottom, so I made this one for him.
<br><br>
This guitar has a very robust bottom end that sounds much like a bartone guitar with a very sparkly high end.<br><br>	
</p>
<br>
<u><b>Features</b></u><br>
Mahogany Neck<br>
Lacewood Back And Sides<br>
Sitka Spruce Top<br>
Bloodwood Binding<br>
Ebony Fingerboard<br>
Pearl Headstock Inlay<br>
Pearl "Eric Gales" signature inlay on the fingerboard.<br>
Pearl Neckrod cover<br>
LR Baggs Active Element Undersaddle Piezo Pickup<br>
Handmade bridge from ebony<br>
16" Lower Bout<br>
Nitro Lacquer Finish<br>
Double-Action Neck Rod<br>
Gotoh 510 Tuners With Ebony Buttons<br>