<br>
<h1>Repairs, Customizations And Hot-rodding</h1>
I handle all types of guitar repairs.  Below is a partial list of services.  Most prices will apply to you except if your situation is unique.  For example, A complete refret can sometimes cost more if your fingerboard needs extensive work due to warps or abuse. Also, the prices shown reflect the labor involved but don't necessarily include parts, such as pickups, tuning machines etc.
<br><br>
<a href="/acousticrepairs">Acoustic Guitar Price List</a>
<br><br>
<a href="/electricrepairs">Electric And Bass Guitar Price List</a>


