<center>
<br>

<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">The Blues Bayou</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			I haven't yet met one person who doesn't fall in love with this guitar immediately!  The picture shown was a custom build for someone in medical school, hence the medical symbols.  But, like any of my guitars, custom inlay work is always available if you would like it.  This guitar can go from clean and sweet to downright swampy and raunchy.  The back and sides are from one solid piece of mahogany and then chambered (hollowed out).  The top is hand-carved curly maple, formed the same way an archtop guitar is made.  No plywood here like the production-line guitars you see in the stores.  It comes with standard humbuckers but I highly recommend upgrading the pickups for an amazing sound you'll never get tired of.  From jazz to blues to rock, this one does it all.
		</td>
	</tr>
	<tr>		
		<td valign="bottom"><img src="/ver2images/bayoutransparent.png" width="200"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/bluesbayou.png" width="120"/>
						<img src="/ver2images/bluesbayouback.gif" width="120"/>
						<img src="/ver2images/bayouheadstock.png" width="130"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">

						<u><b>Features</b></u><br>
						13 1/2" Lower Bout<br>
						18" Body Length<br>
						1 7/8" Body Depth At The Edges, At Center Arch Is 2 5/8"<br>
						Chrome Or Gold-tone Hardware<br>
						Mahogany Neck<br>
						Curly Maple Top Plate<br>
						Mahogany Back/Sides<br>
						White Binding With Black/White Purfling<br>
						Ebony Fingerboard<br>
						Standard Wilkinson Pickups (You can upgrade these with any humbuckers)<br>
						Custom Blue Nitro-Lacquer Finish on top, natural on rest of guitar<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Tuners With Black Buttons<br>
						Choice of YinYang Soundholes Or Those Shown In Photo
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<table>
	<tr>
		<td colspan="2" align="center"><h1 style="color: #556B2F;">The Red Bayou</h1></td>
	</tr>
	<tr>
		<td colspan="2" align="left" style="color: #556B2F;">
			Like its cousin, The Blues Bayou, The Red Bayou delivers in sound, playability and looks. The picture shown was a custom build for someone, hence the the extra inlay.  But again, like any of my guitars, custom inlay work is always available if you would like it.  This guitar can go from clean and sweet to downright swampy and raunchy.  The back and sides are from one solid piece of mahogany and then chambered (hollowed out).  The top is hand-carved curly maple, formed the same way an archtop guitar is made.  No plywood here like the production-line guitars you see in the stores.  It comes with standard humbuckers but I highly recommend upgrading the pickups for an amazing sound you'll never get tired of (the guitar shown was upgraded to EMG Active pickups.).  From jazz to blues to rock, this guitar will always make you look and sound great.<br><br>
		</td>
	</tr>
	<tr>		
		<td valign="bottom"><img src="/ver2images/redbayou.jpg" width="200"></td>
		<td>
			<table>
				<tr>
					<td>
						<img src="/ver2images/redbayoutilted.gif" width="120"/>
						<img src="/ver2images/redbayouback.gif" width="140"/>
					</td>
				</tr>
				<tr>
					<td>
						<div style="color: #556B2F;">

						<u><b>Features</b></u><br>
						13 1/2" Lower Bout<br>
						18" Body Length<br>
						1 7/8" Body Depth At The Edges, At Center Arch Is 2 5/8"<br>
						Chrome Or Gold-tone Hardware<br>
						Mahogany Neck<br>
						Curly Maple Top Plate<br>
						Mahogany Back/Sides<br>
						White Binding With Black/White Purfling<br>
						Ebony Fingerboard<br>
						Standard Wilkinson Pickups (You can upgrade these with any humbuckers)<br>
						Custom Sunburst Nitro-Lacquer Finish on top, natural on rest of guitar<br>
						Double-Action Neck Rod<br>
						Gotoh Delta 510 Tuners With Black Buttons<br>
						Choice of YinYang Soundholes Or Those Shown In Photo
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</center>