
<h1>A few shots of me in the shop</h1>
<center>
<table>
	<tr>
		<td align="center">
			<img src="/images/meinshop/withfrethammer1980.jpg" height="225"/><br>
			As An Apprentice In 1980!
		</td>
		<td align="center">
			<img src="/images/meinshop/withfrethammer2010.jpg"/><br>
			30 Years Later! (Lost the beard, found 30 pounds!) <br>
		</td>
	</tr>
	<tr>
		<td align="center">
			<br>
			<img src="/images/meinshop/epiphone.jpg"/><br>
			Buffing out some scratches from shirt buttons.
			
		</td>
		<td align="center">
			<br>
			<img src="/images/meinshop/alvarez.jpg"/><br>
			Working on this 12-String's Fishman electronics.<br>
		</td>
	</tr>
	<tr>
		<td align="center">
			<br>
			<img src="/images/meinshop/ibanez.jpg"/><br>
			Checking the neck of this Ibanez
		</td>
		<td align="center">
			<br>
			<img src="/images/meinshop/jiminshop1980.jpg" height="225"/><br>
			1980, making a Fender Bass into a fretless.
		</td>
	</tr>
</table>

</center>
