<br>
<h1>The "Bryan Baker"" Santa Fe Sunset Flattop</h1>
<center>
<br>

<table>
	<tr>		
		<td><img src="/images/sunset/PB214384.JPG" width="225" alt=""></td>
		<td><img src="/images/sunset/PB214390.JPG" width="225" alt=""></td>
		<td><img src="/images/sunset/PB214386.JPG" width="225" alt=""></td>
	</tr>
	<tr>		
		<td><img src="/images/sunset/PB214388.JPG" width="225" alt=""></td>
		<td><img src="/images/sunset/PB214389.JPG" width="225" alt=""></td>
		<td><img src="/images/sunset/PB214391.JPG" width="225" alt=""></td>
	</tr>
</table>
<table>
	<tr>		
	</tr>

</table>
</center>
<p>
Made for the fusion/rock/everything artist <a href="javascript:doWindowPopup('http://www.bryanbakermusic.com/site/affiliations');">Bryan Baker</a> who is a solo artist and the leader of the band Black Baptista.<br><br>
This guitar has a very robust bottom end that sounds much like a bartone guitar with a very sparkly high end.<br><br>	
</p>
<br>
<u><b>Features</b></u><br>
Sapelle Neck<br>
Sapelle Back And Sides<br>
Sitka Spruce Top<br>
Curly Maple Binding<br>
Ebony Fingerboard<br>
Turquoise Headstock Inlay<br>
LR Baggs Active Element Undersaddle Piezo Pickup<br>
Handmade bridge from ebony<br>
16" Lower Bout<br>
Highly Custom Nitro Lacquer Finish<br>
Double-Action Neck Rod<br>
Gotoh Delta 510 Tuners With Ebony Buttons<br>