<br>
<h1>The Uptown</h1>
<center>
	<img src="/images/uptown.jpg" width="250">
<br><br>

<table>
	<tr>
		<td><img src="/images/devonshireguitar/P2130326-resized.jpg" width="250" alt="P2130326 Resized"></td>
		<td><img src="/images/devonshireguitar/cityguitar.jpg" width="275" alt="Cityguitar"></td>
		<td><img src="/images/devonshireguitar/P2120323-resized.jpg" width="250"  alt="P2120323 Resized"></td>
	</tr>
</table>
</center>
<p>
If you're a Les Paul fan but always wanted a little something more/better, than this is the guitar for you.  Cutaway goes deeper for easier access to ALL of the frets, nothing but the best tonewoods and neurotic attention to every tiny detail makes this guitar a must-have for those who want a versatile axe with some real class.  Remember, all features can be upgraded or changed including wood, binding, tuning machines, pickups, wiring... you name it.	
</p>
<br>
<u><b>Features</b></u><br>
Glued On Neck<br>
Body: African Mahogany<br>
Carved Top: American Highly Figured Myrtle (It's a LOT like maple, but with a slightly warmer hue)<br>
Neck: American Rock Maple<br>
Fingerboard: African Ebony Bound With 4-ply binding<br>
Body Binding: 4-ply Celluloid Front And Back<br>
Headstock Inlay: Hand-Cut Mother Of Pearl<br>
Position Markers: Mother Of Pearl Dots<br>
Truss Rod: Dual Action Rod<br>
Truss Rod Cover: Hand-Cut Mother Of Pearl<br>
Pickup Covers And Rings: African Ebony<br>
Pickguard: Hand-Made From Same Myrtle As Top, Bound<br>
Bridge: Schaller Roller Bridge<br>
Strap Buttons: Schaller Locking Buttons<br>
Tuning Machines: Grover<br>
All Gold-Plated Hardware<br>
Gold Colored Speed Knobs<br>
