<br>
<h1>The Versa</h1>
<center>
	<img src="/images/versaarchtop.jpg" width="250">
<br>

<table>
	<tr>		
			<td><img src="/images/devonshireguitar/Versa/versa1.jpg" width="225" alt="Versa1"></td>
			<td align="center"><img src="/images/devonshireguitar/Versa/fullfrontal.jpg" width="150" alt="Fullfrontal"></td>
			<td><img src="/images/devonshireguitar/Versa/versa2.jpg" width="225" alt="Versa2"></td>
	</tr>
	<tr>			
			<td><img src="/images/devonshireguitar/Versa/versa3.jpg" width="225" alt="Versa3"></td>
			<td><img src="/images/devonshireguitar/Versa/versa4.jpg" width="225" alt="Versa4"></td>
			<td><img src="/images/devonshireguitar/Versa/versa5.jpg" width="225" alt="Versa5">	</td>	
	</tr>
</table>
</center>
<p>
It honestly doesn't get any better than my top-of-the-line Versa model.  This is the best archtop you can get, anywhere.  Built with traditional methods using old-world craftsmanship.  Hand-carved top and back, 17" lower bout, ebony fingerboard and much more make this archtop an absolutely premier instrument.  Whether you're into jazz, blues, rockabilly or country, this is the instrument for you.  Gorgeous looks and tone!!  Remember, all features can be upgraded or changed including finish, wood, binding, tuning machines, pickups, wiring... you name it.	
</p>
<br>
<u><b>Features</b></u><br>
Curly Maple Neck<br>
Curly Maple Back And Sides<br>
Hand-carved Back Inside and Out<br>
Hand-carved Sitka Spruce Top<br>
Ebony Fingerboard<br>
Mother Of Pearl/Abalone Art Deco Headstock Inlay<br>
Kent Armstrong Floating Pickup<br>
Model Shown has Angel-winged portholes in back (an upgrade option)<br>
Pickguard made of curly maple to match back and sides
17" Lower Bout<br>
Double-Action Neck Rod<br>