<h1>New project_pic</h1>

<%= render(:partial => "inputform") %>

<%= link_to 'Back', project_pics_path %>
<br><br>
<%= link_to 'Back To Project', :controller => 'projects', :action => 'show', :id => session[:project_id] %>