
<br><br>
<center>
<img src="/images/headerlogo.png">

<center>

<br>
<table width="100%">
	<tr>
		<td>
			<a href="/versa"><img src="/images/versaarchtop.jpg" height="275"/></a>
		</td>
		<td align="center" valign="top">
			<a href="/fleur"><img src="/images/fleurdilis.png" height="275"/></a>
		</td>
		<td align="center" valign="top">
			<img src="/images/Neo/neojazz.jpg" height="275"/>
		</td>
 	</tr>
</table>
<table width="100%">
	<tr>
		<td align="center" valign="top">
			<a href="/bayou"><img src="/images/blues_bayou.jpg" height="275"/></a>
		</td>
		<td align="center" valign="top">
			<a href="/dresden"><img src="/images/DresdenOnDresden.png" height="275" alt="Dresden 13-String Baroque Lute Guitar"/></a>
		</td>
		<td>
			<a href="/sunset"><img src="/images/sunset/sunsetad.jpg" height="275"/></a>
		</td>
	</tr>
</table>
<table width="100%">	
	<tr>
		<td align="top">
			<img src="/images/bourbonstreet.jpg" height="275"/>
		</td>
		<td align="center">
			<a href="/gales"><img src="/images/gales/gales.png" width="205" alt=""></a>
		</td>
		<td>
			<a href="/uptown"><img src="/images/uptown.jpg" height="275"/></a>
		</td>

	</tr>
</table>
<br>

<br><br>
</center>
