<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>		
	<title>Kath Guitars - Custom Guitars</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link type="text/css" rel="stylesheet" href="/stylesheets/guitar.css" />	
</head>
	
<script>
function doWindowPopup(url) { 
	window.open(url, 'Kath Guitars Blog','toolbar=1,scrollbars=1,height=600,width=800');
}

function doFullWindowPopup(url) { 
	window.open(url, 'Kath Guitars','toolbar=1,scrollbars=1,height=600,width=800');
}

window.onload= function()
{
	pH.carousel(document.getElementById('carousel'));
}

</script>
<body>
	<br><br>
<div id="centering-home-div">
	<img src="/ver2images/homepageFinal.jpg" width="1000">
	<div class="menuitem-about">
		<a href="/customguitars">
			<img src="/ver2images/menuitemAbout.png" width="100" border="0">
		</a>
	</div>
	<div class="menuitem-contact">
		<a href="/contactme">
			<img src="/ver2images/menuitemContact.png" width="100" border="0">
		</a>
	</div>	
	<div class="menuitem-archtops">
			<a href="/customarchtops">
				<img src="/ver2images/menuitemArchtops.png" width="100" border="0">
			</a>
	</div>
	<div class="menuitem-flattops">
			<a href="/customflattops">
				<img src="/ver2images/menuitemFlattops.png" width="100" border="0">
			</a>
	</div>
	<div class="menuitem-semihollow">
			<a href="/semihollow">
				<img src="/ver2images/menuitemSemihollow.png" width="100" border="0">
			</a>
	</div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2614094-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>